<button class="full-width" mat-button routerLink="liked" routerLinkActive="active-item">Liked Films</button>
<br>
<button class="full-width" mat-button routerLink="recommended" routerLinkActive="active-item">Recommended Films</button>
<br>
<button class="full-width" mat-button routerLink="disliked" routerLinkActive="active-item">Don't Recommend</button>
<br>
<button class="full-width" mat-button routerLink="userscores" routerLinkActive="active-item">My scores</button>
<br>
<button class="full-width" mat-button routerLink="chat" routerLinkActive="active-item">Contact administrator</button>