.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
}

.main-toolbar {
  background-color: rgb(44, 44, 44);
  color: white;
  background-image: url(../filmoteka.jpg);
  
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  
}

.active-item {
  color: rgb(0, 17, 37) !important;
  background-color: white;
  border-radius: 0px;
}

.full-height {
  height: 100%;
}
