.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.img-container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-evenly;
	margin-bottom: 60px;
	column-width: auto;
	width: 100%;
	padding: 1px;
}

.img-container img:hover {
	transform: scale(1.2);
}

.img-container img {
	width: 50%;
}

.choices {
	display: flex;
	justify-content: space-between;
	max-width: 40%;
	margin: auto;
	float: center;
	padding: 10px 0;
	text-align: center;
}

span {
	margin-left: 30px;
	width: 100%;
	height: auto;
}

.mat-form-field-custom {
	font-weight: bold;
}

.title {
	margin-left: 40px;
	font-weight: 500;
	font-size: x-large;
	max-width: 20%;
}

.score {
	text-align: center;
	justify-content: space-evenly;
	margin-left: 100px;
	font-weight: 500;
	font-size: x-large;
	max-width: 70%;
}



.img-with-text {
    text-align: center;
    width: 300px;
	font-weight: bold;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.buttons{
	font-weight: bold;
	
}