<form (submit)="onSave()" [formGroup]="form" method="post">
    <div class ="forumtopic-div">
      
        <mat-card class="forumtopic-card">
          <mat-card-title>Forum topic info</mat-card-title>
          <mat-form-field>
            <input matInput name="title" type="text" placeholder="Title" formControlName="title">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput name="description" type="text" placeholder="Description" formControlName="description">
          </mat-form-field><br>
        </mat-card>
    </div>
    <button class = "save-button" mat-raised-button color="accent" type="submit">Save</button>
  </form>