<form (submit)="onSave()" [formGroup]="form" method="post">
  <mat-grid-list cols="4">
    <mat-grid-tile>
      <app-account-data [parrentForm]="form"></app-account-data>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="critic-card">
        <mat-card-title>Critic info</mat-card-title>
        <mat-form-field>
          <input matInput name="firstName" type="text" placeholder="First Name" formControlName="firstName">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput name="lastName" type="text" placeholder="Last Name" formControlName="lastName">
        </mat-form-field><br>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button class="save-button" mat-raised-button color="accent" type="submit">Save</button>
</form>